<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>Welcome {{name}} ✌️</h2>
        <h2>Deatils of {{name}}</h2>
        <table id="table" border="1" style="border-collapse:collapse ;">
            <tr>
                <td>Name</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{age}}</td>
            </tr>
            <tr>
                <td>Mark 1</td>
                <td>{{Mark_1}}</td>
            </tr>
            <tr>
                <td>Mark_2</td>
                <td>{{Mark_2}}</td>
            </tr>
            <tr>
                <td>Total</td>
                <td>{{total}}</td>
            </tr>
            {{#each college}}
            <tr>
                <td>College</td>
                <td>{{name}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</body>
</html>